services:
  db:
    image: postgres:16.3
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: clinique
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - '5432:5432'

  # Optional app service example. Provide a Dockerfile at project root to use it.
  # app:
  #   build: .
  #   restart: on-failure
  #   env_file:
  #     - .env.docker
  #   ports:
  #     - "4000:4000"
  #   depends_on:
  #     - db

  pg-admin:
    container_name: pgadmin
    image: dpage/pgadmin4
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@admin.com
      - PGADMIN_DEFAULT_PASSWORD=admin
      - PGADMIN_LISTEN_PORT=5050
    ports:
      - '5050:5050'
    volumes:
      - pgadmin-data:/var/lib/pgadmin

volumes:
  db_data:
  pgadmin-data:
